html {}
body {}


/*---TYPOGRAPHY---*/

body {
  color: ;
  /*font: ;*/
}
h1,h2,h3,h4,h5,h6 {
 
}
h1 { 
  font-size: ;
}
h2 { 
  font-size: ;
}
h3 { 
  font-size: ;
}
h4 { 
  font-size: ;
}
h5 { 
  font-size: ;
}
h6 { 
  font-size: ;
}
p { 
  
}
ul {

}
li{

}

/*---HEADER---*/

header ul {

}
header li {

}

/*---MAIN---*/

/*---FOOTER---*/

footer ul {

}
footer li {

}



/*------PHONE VERSION------*/

@media only screen and (max-width: 375px) {

/*---HEADER---*/

/*---MAIN---*/

/*---FOOTER---*/
  
}



/*------TABLET VERSION------*/

@media only screen and (min-width: 373px) and (max-width: 768px) {

/*---HEADER---*/

/*---MAIN---*/

/*---FOOTER---*/

}